:root {
    --max-width: 800px;
    --nav-height: 60px;
  }
  body {
    margin: 0;
    background-image: radial-gradient(ellipse at bottom, rgb(0, 5, 20),  rgb(173, 173, 211));
    background-size: 99% 2000px;
    font-family: 'Noto Sans', sans-serif;
}


   nav ul {
    width:  var(--max-width);
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    
  }
   nav ul li {
    text-align: center;
  }
   nav ul li a {
    display: block;
    border-bottom: 2px solid rgb(199, 199, 199);
    width: 100%;
    height: var(--nav-height);
    line-height: var(--nav-height);
    text-decoration: none;
    margin: 20px 40px;
    color: white;
    font-size: 25px;
    transition: .3s;
  } 
  nav ul li a:hover {
      transform: scale(1.2)
  }
   header {
    width: var(--max-width);
    margin: 0 auto;
    margin-bottom: 50px;
  }
  section#content {
    display: flex;
    justify-content: space-around;
    width: calc(var(--max-width)*1.5);
    margin: 0 auto 100px;
    background-color: rgb(221, 210, 210);
    padding: 20px 30px; 
    border-radius: 10px;
    font-size: 1.6em;
    
  } 
#content ul{
    list-style-type: none;
   padding-left: 0px;
}
h1{
    text-align: center;
    color: white;
    font-size: 80px;
}
.active{ 
    text-decoration: underline;
}

#foto1{
  width: 600px;
  height:600px ;
  padding-left: 40px;
}
footer{
  color: rgb(70, 66, 66);
  text-align: center;

  margin: 0 auto 30px ;
  background-color: white;
  padding: 0px 30px 20px; 
  font-size: 40px;
 

}
footer>a>img{
  width: 64px;
  display: inline-block;
  margin: 0 50px;
}
footer>p{
  text-decoration: underline;
}